@page "/site-building/pages"

@using Dignite.SiteBuilding.Permissions
@using Dignite.SiteBuilding.Localization
@using Dignite.SiteBuilding.Admin.Pages
@using Dignite.SiteBuilding.Pages
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.BlazoriseUI.Components.ObjectExtending
@attribute [Authorize(SiteBuildingPermissions.Page.Default)]
@inject AbpBlazorMessageLocalizerHelper<SiteBuildingResource> LH

@inherits AbpCrudPageBase<IPageAppService, PageDto, Guid, GetPagesInput, PageCreateDto, PageUpdateDto>
<PageTitle>@L["Pages"]</PageTitle>
@* ************************* PAGE HEADER ************************* *@
<Volo.Abp.AspNetCore.Components.Web.Theming.Layout.PageHeader Title="@L["Roles"]"
            BreadcrumbItems="@BreadcrumbItems"
            Toolbar="@Toolbar">
</Volo.Abp.AspNetCore.Components.Web.Theming.Layout.PageHeader>
<PageHeader>
    <PageHeaderTitle>@L["Pages"]</PageHeaderTitle>
    <PageHeaderExtra>
        <button class="btn btn-outline-primary btn-sm rounded-pill" type="submit">
            <i class="fa fa-plus"></i> @L["Create"]
        </button>
    </PageHeaderExtra>
</PageHeader>


@* ************************* DATA GRID ************************* *@
<ExtensibleAntDesignTable TItem="PageDto"
                        Data="@Entities"
                        ReadData="@OnTableReadAsync"
                        TotalItems="@TotalCount"
                        PageSize="@PageSize"
                        CurrentPage="@CurrentPage"
                        Columns="@PagesTableColumns">
</ExtensibleAntDesignTable>

@* ************************* CREATE MODAL ************************* *@
@if (HasCreatePermission)
{
    <Blazorise.Modal @ref="CreateModal" Closing="@ClosingCreateModal">
        <Blazorise.ModalContent Centered="true">
            <Blazorise.Form>
                <Blazorise.ModalHeader>
                    <Blazorise.ModalTitle>@L["NewRole"]</Blazorise.ModalTitle>
                    <Blazorise.CloseButton Clicked="CloseCreateModalAsync"/>
                </Blazorise.ModalHeader>
                <Blazorise.ModalBody>
                    <Blazorise.Validations @ref="@CreateValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
                        <Blazorise.Validation MessageLocalizer="@LH.Localize">
                            <Blazorise.Field>
                                <Blazorise.FieldLabel>@L["DisplayName:RoleName"]</Blazorise.FieldLabel>
                                <Blazorise.TextEdit @bind-Text="@NewEntity.Name" Autofocus="true">
                                    <Feedback>
                                        <Blazorise.ValidationError/>
                                    </Feedback>
                                </Blazorise.TextEdit>
                            </Blazorise.Field>
                        </Blazorise.Validation>
                        <CreateOrUpdatePageFormBase Data="@NewEntity" LH="@LH" L="@L"></CreateOrUpdatePageFormBase>
                        <ExtensionProperties TEntityType="PageCreateDto" TResourceType="SiteBuildingResource" Entity="@NewEntity" LH="@LH"/>
                    </Blazorise.Validations>
                </Blazorise.ModalBody>
                <Blazorise.ModalFooter>
                    <Blazorise.Button Color="@Blazorise.Color.Secondary" Clicked="CloseCreateModalAsync">@L["Cancel"]</Blazorise.Button>
                    <SubmitButton Clicked="@CreateEntityAsync"/>
                </Blazorise.ModalFooter>
            </Blazorise.Form>
        </Blazorise.ModalContent>
    </Blazorise.Modal>
}
@* ************************* EDIT MODAL ************************* *@
@if (HasUpdatePermission)
{
    <Blazorise.Modal @ref="EditModal" Closing="@ClosingEditModal">
        <Blazorise.ModalContent Centered="true">
            <Blazorise.Form>
                <Blazorise.ModalHeader>
                    <Blazorise.ModalTitle>@L["Edit"]</Blazorise.ModalTitle>
                    <Blazorise.CloseButton Clicked="CloseEditModalAsync"/>
                </Blazorise.ModalHeader>
                <Blazorise.ModalBody>
                    <Blazorise.Validations @ref="@EditValidationsRef" Model="@EditingEntity" ValidateOnLoad="false">
                        <input type="hidden" name="ConcurrencyStamp" @bind-value="EditingEntity.ConcurrencyStamp"/>
                        <CreateOrUpdatePageFormBase Data="@NewEntity" LH="@LH" L="@L"></CreateOrUpdatePageFormBase>
                        <ExtensionProperties TEntityType="PageUpdateDto" TResourceType="SiteBuildingResource" Entity="@EditingEntity" LH="@LH"/>
                    </Blazorise.Validations>
                </Blazorise.ModalBody>
                <Blazorise.ModalFooter>
                    <Blazorise.Button Color="Blazorise.Color.Secondary" Clicked="CloseEditModalAsync">@L["Cancel"]</Blazorise.Button>
                    <SubmitButton Clicked="@UpdateEntityAsync"/>
                </Blazorise.ModalFooter>
            </Blazorise.Form>
        </Blazorise.ModalContent>
    </Blazorise.Modal>
}